@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  color: CanvasText;
  background-color: Canvas;
}
#tablero {
  display: grid;
  grid-template-columns: repeat(8, 32px);
  grid-template-rows: repeat(8, 32px);
  border-radius: 10px;
}

.cell {
  background-color: #f0f0f0;
  border: 2px solid #d3d3d3;
  text-align: center;
  line-height: 32px;
  padding: 4px; 
  box-shadow: 2px 2px 5px rgba(237, 234, 234, 0.968); 
}

.cell:hover {
  background-color: #e0e0e0; 
}

